<div class="recipe-btn__box">
  <button
    type="button"
    class="inline-block mb-4 px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-250 ease-in-out"
  >
    New Recipe
  </button>
  <hr />
  <div class="w-full flex flex-col mt-4">
    <a
      class="flex flex-col mb-5 md:flex-row p-3 w-full rounded-lg bg-white shadow-lg justify-between"
      href="#"
      *ngFor="let recipe of recipes"
    >
      <div class="px-6 flex flex-col">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          {{ recipe.name }}
        </h5>
        <p class="text-gray-700 text-base mb-4">
          {{ recipe.description }}
        </p>
      </div>
      <img
        class="self-center h-14 w-14 object-cover rounded-lg"
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
      />
    </a>
  </div>
</div>
<app-recipe-item></app-recipe-item>
