<div class="recipe-btn__box">
  <button
    type="button"
    class="inline-block mb-4 px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-250 ease-in-out"
  >
    New Recipe
  </button>
  <hr />
  <div class="w-full flex flex-col mt-4"></div>
</div>
<app-recipe-item *ngFor="let recipe of recipes"></app-recipe-item>
